@use 'mixins/surfaces' as surface;

.skeleton {
  display: block;
  @include surface.skeleton-pulse;

  &[data-radius='none'] {
    border-radius: 0;
  }

  &[data-radius='small'] {
    border-radius: var(--radius-1);
  }

  &[data-radius='medium'] {
    border-radius: var(--radius-2);
  }

  &[data-radius='full'] {
    border-radius: var(--radius-full);
  }

  &[data-radius='pill'] {
    border-radius: 3em;
  }
}
