@use 'mixins/surfaces' as surface;

.skeleton {
  display: block;
  @include surface.abstract-gradient;

  &[data-radius='none'] {
    border-radius: 0;
  }

  &[data-radius='small'] {
    border-radius: 4px;
  }

  &[data-radius='medium'] {
    border-radius: 8px;
  }

  &[data-radius='full'] {
    border-radius: 50%;
  }
}

.textGroup {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  padding: var(--card-padding);
  border-radius: 8px;
  border: 1px solid var(--mono-border-subtle);
  background-color: var(--mono-app-bg);
}
