.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--mono-border-subtle);
  padding: var(--space-3) var(--gutter);
}

.header svg {
  display: inline-block;
  vertical-align: top;
}

.header h1 {
  display: inline-block;
  vertical-align: top;
  margin: var(--space-1) 0 var(--space-1) var(--space-2);
  font-weight: 700;
  font-size: var(--text-xl);
  line-height: 1;
}

.header button + button {
  margin-left: var(--space-2);
}

.welcome {
  margin-right: var(--space-2);
  color: var(--mono-text-low-contrast);
  font-size: var(--text-sm);
}
