@use 'mixins/container' as container;
@use 'mixins/breakpoints' as bp;

.section {
  @include container.fullBleed;

  &[data-variant='surface'] {
    background-color: var(--mono-subtle-bg);
  }

  &[data-variant='contrast'] {
    background-color: var(--mono-bg);
  }

  &[data-size='small'] {
    padding-block: var(--space-6);

    @include bp.tablet {
      padding-block: var(--space-8);
    }
  }

  &[data-size='medium'] {
    padding-block: var(--space-8);

    @include bp.tablet {
      padding-block: var(--section-gap);
    }
  }

  &[data-size='large'] {
    padding-block: var(--section-gap);

    @include bp.tablet {
      padding-block: var(--space-16);
    }
  }
}
